<?xml version="1.0" encoding="UTF-8"?>

<suite name="Automation suite" verbose="1" >
  
  <test name="Test1" >
    <classes>
      <class name="com.selenium.testscripts.TestCase1"/>
    </classes>
 </test>

 <test name="Test2" >
    <classes>
      <class name="com.selenium.testscripts.TestCase2"/>
    </classes>
 </test>
 
      <test name="Test3" >
    <classes>
      <class name="com.selenium.testscripts.TestCase3"/>
    </classes>
 </test>
 
 <test name="Test4" >
    <classes>
      <class name="com.selenium.testscripts.TestCase4"/>
    </classes>
 </test>
 
 <test name="Test5" >
    <classes>
      <class name="com.selenium.testscripts.TestCase5"/>
    </classes>
 </test>
  
  
</suite>


